.img-container {
  padding: 20px 0 30px 0;
}
.intro-container {
  padding: 8px 15px;
  background: #f8f8f8;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  overflow-x: auto;
  letter-spacing: 0.1em;
}
.edu-content-container {
  padding: 20px 0;
  letter-spacing: 0.05em;
  text-align: justify;
}
