.container{
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 30px;
  mat-sidenav-container{
    width: 100%;
  }
  mat-sidenav {
    width: 30%;
  }
}

.mat-drawer-container{
  background-color: transparent;
}

