/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
* {
  letter-spacing: 0.05em;
}
body {
  margin: 0;
  font-family: Raleway, "Helvetica Neue", sans-serif;
}

.part-title {
  padding-top: 20px;
}


a:hover{
  text-decoration: none;
  cursor: pointer;
}